@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

// Colors 

$primary-color: #4400ffee;

// Fonts 

$main-font: 'Poppins', sans-serif;
$weight-title: 700;
$weight-text: 300;